</main>


<footer class="dc-footer uk-section uk-section-muted uk-padding-small uk-padding-remove-bottom uk-padding-remove-horizontal">
    <div class="uk-container uk-container-expand">
        <div class="uk-flex uk-flex-row uk-flex-middle uk-flex-around">
            <div class="">
                <a class="uk-link-muted dc-link" href="/"><span class="brand">TPS</span></a>
            </div>
            <div class="">
                <ul class="uk-list">
                    <li><a class="uk-link-muted dc-link" href="/about">About</a></li>
                    <li><a class="uk-link-muted dc-link" href="/shop">Our Shop</a></li>
                    <li><a class="uk-link-muted dc-link" href="/work">Our Work</a></li>
                </ul>
            </div>
            <div class="">
                <ul class="uk-list">
                    <li><a class="uk-link-muted dc-link" href="/services">Services</a></li>
                    <li><a class="uk-link-muted dc-link" href="/contact">Contact</a></li>
                    <li><a class="uk-link-muted dc-link" href="/contact">Careers</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
            $('.preloader-background').delay(1700).fadeOut('slow');
        });
</script>
<script src="js/lightbox.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97174423-1', 'auto');
  ga('send', 'pageview');

</script>

</html>
