<% include partials/header %>

<!-- Content -->
<div class="uk-section">
    <div class="uk-container uk-container-expand">
        <div uk-grid class="uk-flex uk-flex-middle uk-child-width-1-2@s uk-child-width-1-1">
            <div>
                <article class="uk-article">
                    <h1 class="uk-article-title">About QFS</h1>
                    <p>
                        This is the about us page and will contain a great description of the company, some of its history, philosophy, and beliefs. It's not necessary to go crazy, but letting other companies get to know who they are working with is worthwhile. Throw down a good picture of the team on the right <strong><small>(THIS IS IMPORTANT)</small></strong>.
                    </p>
                </article>
            </div>
            <div>
                <img src="http://www.alexcyrus.com/imgs/placeholder.png"/>
            </div>
            <div>
                <article class="uk-article">
                    <h1 class="uk-article-title">Our Team</h1>
                    <p>
                        Each of our employees work incredibly hard to put out top-quality product. These are just a few of the people that work for you. Another good picture of the team, or at least the core members would be a great addition to the right, but it is not necessary. However, the four spots below, I do highly recommend you fill in some way. They let other companies get to know who the will likely be working directly with and that can be invaluable for starting to build rapport.
                    </p>
                </article>
            </div>
            <div>
                <img src="http://www.alexcyrus.com/imgs/placeholder.png"/>
            </div>
        </div>
        <article class="uk-article uk-width-1-1 uk-padding-large">
            <h1 class="uk-article-title">Our Team <small class="uk-h6">(This is the alternative to a second picture.)</small></h1>
            <p>
                Each of our employees work incredibly hard to put out top-quality product. These are just a few of the people that work for you. Another good picture of the team, or at least the core members would be a great addition to the right, but it is not necessary. However, the four spots below, I do highly recommend you fill in some way. They let other companies get to know who the will likely be working directly with and that can be invaluable for starting to build rapport.
            </p>
        </article>
        <div uk-grid class="uk-child-width-1-4@l uk-child-width-1-2@s uk-child-width-1-1">
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="http://www.alexcyrus.com/imgs/placeholder.png" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Name</h3>
                        <p class="uk-text-meta uk-margin-remove-top">Position</p>
                        <p>Describe where you went to college, some of your experience, specific field of expertise, something personal. Sell who you are. </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="http://www.alexcyrus.com/imgs/placeholder.png" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Name</h3>
                        <p class="uk-text-meta uk-margin-remove-top">Position</p>
                        <p>For example: I'm a student currently attending UNC of Charlotte. Over the past five years I have worked in customer service, but realized it simply wasn't what I enjoyed doing. Now, I am starting up my own web development business aimed at helping small businesses boost their digital presence. At the same time, I'm currently interning with College Works Painting, an internship offered on my campus that is focused towards giving students the tools to manage their own business. On a personal note, I drink way too much coffee.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="http://www.alexcyrus.com/imgs/placeholder.png" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Name</h3>
                        <p class="uk-text-meta uk-margin-remove-top">Position</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="http://www.alexcyrus.com/imgs/placeholder.png" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Name</h3>
                        <p class="uk-text-meta uk-margin-remove-top">Position</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<% include partials/footer %>
