<% include partials/header %>

<!-- Content -->
<div class="uk-section">
    <div class="uk-container uk-container-expand">
        <div uk-grid class="uk-flex uk-flex-middle uk-child-width-1-2@s uk-child-width-1-1">
            <div>
                <article class="uk-article">
                    <h1 class="uk-article-title">About QFS</h1>
                    <p>
                        { Grayson - info here }
                    </p>
                </article>
            </div>
            <div>
                <img src="assets/images/about/operations-team.jpg"/>
            </div>
            <div>
                <article class="uk-article">
                    <h1 class="uk-article-title">Our Team</h1>
                    <p>
                        { Grayson - info here }
                    </p>
                </article>
            </div>
            <div>
                <img src="assets/images/about/quality-team.jpg"/>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
