<% include partials/header %>

<div class="uk-section uk-height-1-1">
    <div class="uk-container">
        <h1>Woops!</h1>
        <h4>Something just went wrong.</h4>
    </div>
</div>

<% include partials/footer %>
