<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Quality wet and powder paint services for all your needs.">
    <meta name="keywords" content="powdercoat, paint, wet-paint, services">
    <title>The Paint Shop</title>

    <link href="https://fonts.googleapis.com/css?family=Teko:700" rel="stylesheet">
    <link rel="stylesheet" href="<%= uikitcss %>" />
    <link rel="stylesheet" href="<%= customcss %>">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="<%= uikitjs %>"></script>
    <script src="https://use.fontawesome.com/c5a33ffe36.js"></script>
    <style>.dc-main {background-image: url(assets/images/conveyor-edit.jpg);}</style>
    <style>
        .preloader-background {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #eee url("assets/images/preloader.svg") no-repeat center center;
            position: fixed;
            z-index: 1001;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    </style>
</head>

<body uk-height-viewport="" style="box-sizing: border-box; min-height: 100vh; height: 100vh;">
    <div class="preloader-background"></div>
    <main class="dc-main uk-background-cover uk-flex uk-flex-wrap uk-flex-between" uk-height-viewport="">
        <!-- Menu DESKTOP -->
        <div class="uk-flex uk-flex-top uk-flex-column uk-flex-left uk-width-1 uk-visible@s">
            <div class="uk-dark dc-cell dc-cell-square">
                <a class="dc-link white" href="/"><span class="brand">TPS</span></a>
            </div>
            <div class="uk-light dc-cell dc-cell-square">
                <a class="dc-link red" href="/shop">Our Shop</a>
            </div>
            <div class="uk-light dc-cell dc-cell-square">
                <a class="dc-link red" href="/work">Our Work</a>
            </div>
            <div class="uk-light dc-cell dc-cell-square">
                <a class="dc-link dark-red" href="/contact">Contact</a>
            </div>
        </div>
        <!-- Menu Toggle MOBILE -->
        <div class="uk-hidden@s">
            <div class="uk-flex uk-flex-column uk-position-top-left">
                <div class="uk-dark dc-cell dc-cell-square">
                    <a class="dc-link white"><span class="brand">TPS</span></a>
                </div>
            </div>
            <div class="uk-flex uk-flex-column uk-position-top-right">
                <div class="uk-dark dc-cell dc-cell-square">
                    <a class="dc-link red" href="#offcanvas-nav" uk-toggle><i class="fa fa-bars fa-lg" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <!-- This is the off-canvas -->
        <div id="offcanvas-nav" uk-offcanvas="flip: true">
            <div class="uk-offcanvas-bar uk-background-muted">
                <ul class="uk-nav uk-nav-primary uk-nav-center">
                    <li class="uk-nav-header">
                        <a class="dc-link" href="/"><span class="brand">TPS</span></a>
                    </li>
                    <li class="uk-divider"></li>
                    <li>
                        <a class="uk-link-muted dc-link" href="/">Home</a>
                    </li>
                    <li>
                        <a class="uk-link-muted dc-link" href="/about">About</a>
                    </li>
                    <li>
                        <a class="uk-link-muted dc-link" href="/shop">Our Shop</a>
                    </li>
                    <li>
                        <a class="uk-link-muted dc-link" href="/work">Our Work</a>
                    </li>
                    <li>
                        <a class="uk-link-muted dc-link" href="/services">Services</a>
                    </li>
                    <li>
                        <a class="uk-link-muted dc-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Name & Tagline DESKTOP -->
        <div class="uk-flex uk-flex-bottom uk-flex-column uk-flex-right uk-width-1 uk-visible@s">
            <div class="white uk-dark dc-cell dc-cell-square dc-cell-width-x4 "><div><h2 class="uk-margin-remove" style="width: 65%;">TPSPros</h2></div></div>
            <div class="red uk-light dc-cell dc-cell-square dc-cell-width-x5 "><div><span class="uk-h3 uk-light">Quality, Experience, Delivery - We Fulfill Your Needs</span></div></div>
        </div>
        <!-- Tagline MOBILE -->
        <div class="uk-flex uk-flex-bottom uk-flex-row uk-width-1 uk-hidden@s ">
            <div class="uk-dark dc-cell uk-width-1 uk-padding-remove">
                <div class="red uk-light uk-padding-small"><span class="uk-h4 uk-light">TPSPros</span><hr class="uk-margin-small"/><span class="uk-h6 uk-light">Quality, Experience, Delivery - We Fulfill Your Needs</span></div>
            </div>
        </div>
    </main>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        $('.preloader-background').delay(1700).fadeOut('slow');
    });
</script>
<script src="js/lightbox.js"></script><script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97174423-1', 'auto');
  ga('send', 'pageview');

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97174423-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
