<% include partials/header %>

<!-- Content -->
<div class="uk-section">
    <div class="uk-container uk-container-expand">
        <div class="uk-text-center">
            <h1>Services</h1>
            <hr class="uk-divider-icon">
        </div>
        <div uk-grid class="uk-grid-match uk-child-width-1-1">
            <div>
                <article class="uk-article uk-text-center">
                    <h2 class="">Industries we serve</h2>
                    <div class="uk-child-width-1-4@s uk-child-width-1-6@m uk-flex uk-flex-wrap uk-flex-center uk-padding-small">
                        <div>
                            <div class="uk-card uk-card-default uk-flex-middle uk-grid-collapse uk-child-width-1-1 uk-margin" uk-grid>
                                <div>
                                    <div class="uk-card-media-top">
                                        <img src="http://www.alexcyrus.com/imgs/placeholder.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-flex-middle uk-grid-collapse uk-child-width-1-1 uk-margin" uk-grid>
                                <div>
                                    <div class="uk-card-media-top">
                                        <img src="http://www.alexcyrus.com/imgs/placeholder.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-flex-middle uk-grid-collapse uk-child-width-1-1 uk-margin" uk-grid>
                                <div>
                                    <div class="uk-card-media-top">
                                        <img src="http://www.alexcyrus.com/imgs/placeholder.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-flex-middle uk-grid-collapse uk-child-width-1-1 uk-margin" uk-grid>
                                <div>
                                    <div class="uk-card-media-top">
                                        <img src="http://www.alexcyrus.com/imgs/placeholder.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-flex-middle uk-grid-collapse uk-child-width-1-1 uk-margin" uk-grid>
                                <div>
                                    <div class="uk-card-media-top">
                                        <img src="http://www.alexcyrus.com/imgs/placeholder.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-flex-middle uk-grid-collapse uk-child-width-1-1 uk-margin" uk-grid>
                                <div>
                                    <div class="uk-card-media-top">
                                        <img src="http://www.alexcyrus.com/imgs/placeholder.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-flex-middle uk-grid-collapse uk-child-width-1-1 uk-margin" uk-grid>
                                <div>
                                    <div class="uk-card-media-top">
                                        <img src="http://www.alexcyrus.com/imgs/placeholder.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <hr />
            <div>
                <div class="uk-card uk-card-default uk-flex-middle uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-card-media-left uk-cover-container">
                        <img src="http://www.alexcyrus.com/imgs/placeholder.png" alt="" uk-cover>
                        <canvas width="600" height="400"></canvas>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Main product</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-flex-middle uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                        <img src="http://www.alexcyrus.com/imgs/placeholder.png" alt="" uk-cover>
                        <canvas width="600" height="400"></canvas>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Secondary Product</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-flex-middle uk-grid-collapse uk-child-width-1-1 uk-margin" uk-grid>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Other Services</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
