<% include partials/header %>

        <!-- Content -->
        <div class="uk-section">
            <div class="uk-container">
                <div class="uk-text-center">
                    <h1>Our Shop</h1>
                    <hr class="uk-divider-icon">
                </div>
                <div uk-grid class="uk-grid-match uk-child-width-1-1">
                    <div>
                        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin" uk-grid>
                            <div class="uk-card-media-left uk-cover-container">
                                <img src="assets/images/shop/team.jpg" alt="" uk-cover>
                                <canvas width="600" height="400"></canvas>
                            </div>
                            <div>
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title">The Shop</h3>
                                    <p>We are a full powder coat and liquid paint facility capable of coating parts from large to small, simple to intricate. We have been operating for more than 10 years at our Bessemer City location and have a wealth of knowledge and resources to pull from to fulfill your needs whether you have one piece to coat one time, or you have numerous parts on a recurring basis. Our goal is to meet your needs and exceed your expectations!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@m uk-margin" uk-grid>
                            <div class="uk-card-media-right uk-cover-container">
                                <img src="assets/images/shop/line.jpg" alt="" uk-cover>
                                <canvas width="600" height="400"></canvas>
                            </div>
                            <div>
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title">Shop tools</h3>
                                    <p><ul class="uk-list">
                                        <li>WAGNER powder coating conveyor system with a 5-stage washer, equipped with 8 automatic powder guns, 4 independent reclaim systems for quick changeover, 2 manual powder coat systems, multiple fluidizers, and 50ft x 30ft cure oven capable of curing temperatures up to 500&deg;F.</li>
                                        <li>Two batch systems capable of accommodating parts up to 20 feet in length; great for coating larger and more complicated parts.  Both batch systems are equipped with state-of-the-art GEMA powder coating equipment.</li>
                                        <li>Two large wash bay areas for thorough cleaning and pretreatment to ensure surfaces are free of any and all contaminants.</li>
                                        <li>Sandblasting and burn-off oven coming soon!</li>
                                    </ul></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<% include partials/footer %>
