<% include partials/header %>

<!-- Content -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-text-center">
            <h1>Our Work</h1>
            <hr class="uk-divider-icon">
        </div>
        <div uk-grid class="uk-flex-center uk-flex-middle uk-child-width-1-4">
            <div>
                <div class="uk-inline uk-background-primary">
                    <a href="assets/images/work/frame.jpeg" data-lightbox="work-img" data-title="">
                      <img src="assets/images/work/frame.jpeg" uk-responsive/>
                    </a>
                </div>
            </div>
            <div>
                <div class="uk-inline uk-background-primary">
                    <a href="assets/images/work/hanging.jpg" data-lightbox="work-img" data-title="">
                      <img src="assets/images/work/hanging.jpg" uk-responsive/>
                    </a>
                </div>
            </div>
            <div>
                <div class="uk-inline uk-background-primary">
                    <a href="assets/images/work/plate.jpg" data-lightbox="work-img" data-title="">
                      <img src="assets/images/work/plate.jpg" uk-responsive/>
                    </a>
                </div>
            </div>
            <div>
                <div class="uk-inline uk-background-primary">
                    <a href="assets/images/work/tarheel.jpg" data-lightbox="work-img" data-title="">
                      <img src="assets/images/work/tarheel.jpg" uk-responsive/>
                    </a>
                </div>
            </div>
            <div>
                <div class="uk-inline uk-background-primary">
                    <a href="assets/images/work/chair.jpg" data-lightbox="work-img" data-title="">
                      <img src="assets/images/work/chair.jpg" uk-responsive/>
                    </a>
                </div>
            </div>
            <div>
                <div class="uk-inline uk-background-primary">
                    <a href="assets/images/work/tableandchairs.jpeg" data-lightbox="work-img" data-title="">
                      <img src="assets/images/work/tableandchairs.jpeg" uk-responsive/>
                    </a>
                </div>
            </div>
            <div>
                <div class="uk-inline uk-background-primary">
                    <a href="assets/images/work/table.jpeg" data-lightbox="work-img" data-title="">
                      <img src="assets/images/work/table.jpeg" uk-responsive/>
                    </a>
                </div>
            </div>
            <div>
                <div class="uk-inline uk-background-primary">
                    <a href="assets/images/work/drum.jpg" data-lightbox="work-img" data-title="">
                      <img src="assets/images/work/drum.jpg" uk-responsive/>
                    </a>
                </div>
            </div>
            <div>
                <div class="uk-inline uk-background-primary">
                    <a href="assets/images/work/drum_inside.jpg" data-lightbox="work-img" data-title="">
                      <img src="assets/images/work/drum_inside.jpg" uk-responsive/>
                    </a>
                </div>
            </div>
            <div>
                <div class="uk-inline uk-background-primary">
                    <a href="assets/images/work/rim.jpg" data-lightbox="work-img" data-title="">
                      <img src="assets/images/work/rim.jpg" uk-responsive/>
                    </a>
                </div>
            </div>
            <div>
                <div class="uk-inline uk-background-primary">
                    <a href="assets/images/work/table2.jpg" data-lightbox="work-img" data-title="">
                      <img src="assets/images/work/table2.jpg" uk-responsive/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
